+
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body
{
    background-image: url(web1.jpeg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}
.menu-bar
{
    background: darkgoldenrod;
    text-align: center;
}

.menu-bar ul
{
    display: inline-flex;
    list-style: none;
    color: aqua;
}

.menu-bar ul li
{
    width: 120px;
    margin: 15px;
    padding: 15px;
}

.menu-bar ul li a
{
    text-decoration: none;
    color: #fff;
}

.active, .menu-bar ul li:hover
{
    background: darkgray;
    border-radius: 3px;
}

.box
{
    width: 300px;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.box h1
{
    color: black;
    text-transform: uppercase;
    font-weight: 700;

}

.box input[type="text"], .box input[type="password"]
{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 3px solid black;
    padding: 14px 10px;
    width: 220px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25px;
}

.box input[type="text"]:focus, .box input[type="password"]:focus
{
    width: 270px;
    border-color: darkgoldenrod;

}

.box input[type="submit"]
{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 3px solid #0337fd;
    padding: 14px 35px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25px;
    cursor: pointer;
}
